
body{
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', serif;
}

.main {
	width:97%;
	height:600px;
	background-color:white;
	padding-left:24px;
	min-width: 1040px;
}

.section_left {
	width: 62%;
	background-color:#C6C6C6;
	float: left;
	margin: 0%;
	padding: 10px;
	min-width: 340px;
	border: solid 0px ;
	height: 500px;
	max-height: 550px;
	min-height: 450px;
}

.logo {
	color: white;
	font-size : 25px;
	padding: 10px;
}

.title {
	color:white;

}

.header {
	color:white;
	font-weight:bold;
	font-size:15px;
	padding: 15px 15px;
}

.description {
	color:#484545; 
	font-weight: bold;
	font-size:15px;
	padding: 5px 10px;
}


.pea_holder {
	width:50px;height:100px;
}

[id^='ypea_svg'] {
	width:40px;
	height:40px;
	padding-top:10px;
}

[id^='gpea_svg'] {
	width:40px;
	height:40px;
	padding-top:10px;
}

#gpea1, #gpea2, #gpea3, #gpea4, #gpea5 {
	position:absolute;
	padding-top:50px;
}

#ypea1, #ypea2, #ypea3, #ypea4, #ypea5 {
	position:absolute;
}


#ypea_click_1  {
	position:absolute;
}
#ypea_click_1 > p {
	position: absolute;
    margin-left: 50px;
    margin-top: -35px;
}
#ypeas_click_1_svg{
	width:40px;
	height:40px;
	padding-top:10px;
}	


#ypea_click_2{
	position: absolute;
	margin-top:100px;
}
#ypea_click_2> p {
	position: absolute;
    margin-left: 50px;
    margin-top: -40px;
}
#ypeas_click_2_svg{
	width:40px;
	height:40px;
	padding-top:10px;
}


#gpea_click_3 {
	position: absolute;
	margin-top:50px;
}
#gpea_click_3 > p {
	position: absolute;
    margin-left: 50px;
    margin-top: -37px;
}

#gpeas_click_3_svg{
	width:40px;
	height:40px;
	padding-top:10px;
}


#clear_bt{
	top: 350px;
    position: absolute;
}

.replay_bt {
	float:right;
	padding:0 20px 0 0;
	cursor:pointer;
	margin-top: -25px;
}

.section_right {

	width: 30%;
	float: left;
	margin: 0%;
	padding: 10px;
	max-width: :450px;
	min-width: 340px;
	border: solid 0px ;
	height: 500px;
	max-height: 550px;
	min-height: 450px;
	background-color:#D3D3D3;
}

.icon_controller > a {
	font-size:25px;
}

td {
	text-align: center;
}

.table_pea {
	margin: auto;
	margin-top:-90px;
}

.table_pea > th > td{
  border: 2px solid;
  border-collapse: collapse;
  text-align: center;
}

.cell_pea {
  background-color: white;
  
  width: 120px;
  height: 120px;
}

.pea_1 {
  border-radius: 5px 0 0 0;
}

.pea_2 {
  border-radius: 0 5px 0 0;
}

.pea_4 {
  border-radius: 0 0 5px 0;
}
.pea_3 {
  border-radius: 0 0 0 5px ;
}

.cell_pea p {
	margin: 0px;
	font-size: 30px;
}


.table_data {
	padding-top:20px;
}

.table_data > th > td{
  border: 2px solid #C6C6C6;
  border-collapse: collapse;
      padding: 10px 5px;
    min-width: 100px;
    max-width: 200px;
}

.cell_data{
  background-color: #C6C6C6;
  border-radius: 7px;
      padding: 10px 5px;
    min-width: 100px;
    max-width: 200px;
}


.table_row_two {
	width:100%;
	padding:20px 0px;
}


.mouse_over_yellow {
	background-color: #FCFF9C;

}

.mouse_over_green {
	background-color: #9BFF94;

}

.bg_gray{
	background-color:#C6C6C6;
}
.bg_gray_ligth {
	background-color:#D3D3D3;
}

.border_color_gray {
	border-color: #C6C6C6;
}


.border_color_gray_light {
	border-color: #D3D3D3;
}


.vl {
  border-left: 1px solid white;
  height: 50px;
  padding-right: 5px;
  padding-left: 5px;
}

.home_icon_div {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: blue;
    padding-left: 7px;
    width: 17px;
    height: 30px;
    border-radius: 0px 0px 0px 14px;
    color: white;
    font-size: 20px;
}


.icon_controller {

	float: right; 
	position: relative;
}

.icon_controller span
{
	color:white; 
	font-size:25px;
	padding-right:15px;
	padding-top: 10px;
}


 .table_title {
 	color:white;
 	font-size: 15px;
 	text-transform: uppercase;
 }

 
 /* for iphone */
@media only screen and (min-device-width : 375px) 
				   and (max-device-width : 667px){
.home_icon_div {
	position: absolute;
	left:0px;
}

.icon_controller {
	top: 0px;
    position: absolute;
    right: 10px;
}



.main {
	padding-left: 0px;
	width: 100%;
	min-width: 375px;
}

.section_left {

	width: 100%;
	float: left;
	margin: 0%;
	padding: 10px;
	min-width: 200px;
	border: solid 0px ;
	padding-left: 15px 0px;
	min-height: 460px;
    max-height: 460px;
	 box-sizing: border-box;
}

.section_right {

	width: 100%;
	float: left;
	margin: 0%;
	padding: 10px;
	max-width: :450px;
	min-width: 340px;
	border: solid 0px ;
	padding-left: 0px;
	 box-sizing: border-box;
}

.logo {
	padding: 15px;
}
}


/* for ipad */

@media only screen and (min-device-width : 768px) 
				   and (max-device-width : 1024px){
.home_icon_div {
	position: absolute;
	left:0px;
}

.icon_controller {
	top: 0px;
    position: absolute;
    right: 10px;
}

.main {
	padding-left: 0px;
	width: 100%;
	min-width: 375px;
}

.section_left {

	width: 50%;
	height:100%;
	float: left;
	margin: 0%;
	padding: 10px;
	min-width: 200px;
	border: solid 0px ;
	padding-left: 15px 0px;
	min-height: 560px;
    max-height: 560px;
}

.section_right {

	width: 46%;
	height:100%;
	float: left;
	margin: 0%;
	padding: 10px;
	max-width: :450px;
	min-width: 340px;
	border: solid 0px ;
	padding-left: 0px;
	min-height: 560px;
    max-height: 560px;
}

.logo {
	padding: 15px;
}
}




 /* for iphone */
@media only screen  and (max-device-width : 375px){
.home_icon_div {
	position: absolute;
	left:0px;
}

.icon_controller {
	top: 0px;
    position: absolute;
    right: 10px;
}



.main {
	padding-left: 0px;
	width: 100%;
	min-width: 375px;
}

.section_left {

	width: 100%;
	float: left;
	margin: 0%;
	padding: 10px;
	min-width: 200px;
	border: solid 0px ;
	padding-left: 15px 0px;
	min-height: 460px;
    max-height: 460px;
	 box-sizing: border-box;
}

.section_right {

	width: 100%;
	float: left;
	margin: 0%;
	padding: 10px;
	max-width: :450px;
	min-width: 340px;
	border: solid 0px ;
	padding-left: 0px;
	 box-sizing: border-box;
}

.logo {
	padding: 15px;
}

}
